apiVersion: manifests/v1beta1
metadata:
  name: nexus
spec:
  sources:
    charts:
    - name: csm-algol60
      type: repo
      location: https://artifactory.algol60.net/artifactory/csm-helm-charts/
  charts:
  - name: cray-nexus
    source: csm-algol60
    version: 0.10.0
    namespace: nexus
