apiVersion: manifests/v1beta1
metadata:
  name: storage
spec:
  sources:
    charts:
    - name: csm-algol60
      type: repo
      location: https://artifactory.algol60.net/artifactory/csm-helm-charts/
  charts:
  - name: cray-ceph-csi-rbd
    source: csm-algol60
    namespace: ceph-rbd
    version: 3.6.2-1
  - name: cray-ceph-csi-cephfs
    source: csm-algol60
    namespace: ceph-cephfs
    version: 3.6.3-1
