#
# MIT License
#
# (C) Copyright 2021-2022 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
quay.io:
  images:
    skopeo/stable:
      - v1.4.1
      - latest

artifactory.algol60.net/csm-docker/stable:
  images:
    # XXX update-uas v1.3.2 should include these
    cray-uai-sles15sp2:
      - 1.3.1
    cray-uai-broker:
      - 1.3.1

    # XXX Is this missing from the cray-ims chart?
    cray-ims-load-artifacts:
      - 1.3.59
    cray-grafterm:
      - 1.0.1
    # XXX Are these HMS images missing from a chart or are they used to
    # XXX facilitate install/upgrade?
    hms-pytest:
      - 2.0.0
    hms-shcd-parser:
      - 1.8.0
    hms-trs-worker-http-v1:
      - 1.6.0

    # Rebuilt third-party images below

    # Required by ceph
    docker.io/ceph/ceph:
      - v15.2.8

    quay.io/ceph/ceph:
      - v15.2.15

    # XXX See also k8s.gcr.io/coredns:1.7.0 below
    docker.io/coredns/coredns:
      - 1.6.2

    # cray-sysmgmt-health required for platform
    docker.io/ghostunnel/ghostunnel:
      - v1.6.0

    # XXX Is this missing from cray-istio chart?
    docker.io/istio/kubectl:
      - 1.5.4

    # XXX Not sure where this is used, but should be deprecated
    docker.io/library/centos:
      - 7

    # Openjdk is used during install procedures to generate keystores
    docker.io/library/openjdk:
      - 11-jre-slim

    # Multus required by platform
    docker.io/nfvpe/multus:
      - v3.1
      - v3.7

    # XXX Not sure where this is used?
    docker.io/openapitools/openapi-generator-cli:
      - v5.1.0

    # XXX Is this missing from cray-sysmgmt-health?
    docker.io/prom/pushgateway:
      - v0.8.0

    # Weave images required by platform
    docker.io/weaveworks/weave-kube:
      - 2.8.0
      - 2.8.1
    docker.io/weaveworks/weave-npc:
      - 2.8.0
      - 2.8.1

    # Zeromq used by sealed secrets tooling to facilitate installs/upgrades
    docker.io/zeromq/zeromq:
      - v4.0.5

    # XXX Missing from a SPIRE chart?
    gcr.io/spiffe-io/oidc-discovery-provider:
      - 0.12.2

    # CoreDNS required by platform
    # XXX See also docker.io/coredns/coredns:1.6.2 above
    k8s.gcr.io/coredns:
      - 1.7.0

    # Kube images required by platform
    k8s.gcr.io/kube-apiserver:
      - v1.19.9
      - v1.20.13
    k8s.gcr.io/kube-controller-manager:
      - v1.19.9
      - v1.20.13
    k8s.gcr.io/kube-proxy:
      - v1.19.9
      - v1.20.13
    k8s.gcr.io/kube-scheduler:
      - v1.19.9
      - v1.20.13
    quay.io/galexrt/node-exporter-smartmon:
      - v0.1.1
    k8s.gcr.io/pause:
      - 3.2

    # XXX Pgbouncer image is weird -- it's in the cray-service base chart at
    # XXX https://github.com/Cray-HPE/base-charts/blob/master/kubernetes/cray-service/Chart.yaml#L43
    # XXX but it is not extracted from any charts?
    registry.opensource.zalan.do/acid/pgbouncer:
      - master-21

    # XXX Spilo-12 is not properly extracted from cray-postgres-operator, see
    # XXX https://github.com/Cray-HPE/base-charts/blob/master/kubernetes/cray-service/Chart.yaml#L21
    registry.opensource.zalan.do/acid/spilo-12:
      - 1.6-p3
