#
# MIT License
#
# (C) Copyright 2021-2024 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
artifactory.algol60.net/csm-docker/stable:
  images:

    # cray-sat is not included in any Helm charts
    cray-sat:
      - 3.32.6

    # XXX Is this missing from the cray-ims chart?
    cray-ims-load-artifacts:
      - 2.7.2
    cray-grafterm:
      - 1.0.3
    # XXX Are these HMS images missing from a chart or are they used to
    # XXX facilitate install/upgrade?
    hms-shcd-parser:
      - 1.9.0

    cf-gitea-update:
      - 1.1.0

    cf-gitea-import:
      - 1.10.0

    # Utility to help make changes for adding river cabinets
    hardware-topology-assistant:
    - 0.3.1

    iuf:
    - v0.1.12

    # Rebuilt third-party images below

    # Required by ceph and ceph monitoring
    quay.io/ceph/ceph:
      - v17.2.6

    quay.io/ceph/ceph-grafana:
      - 9.4.7

    quay.io/prometheus/prometheus:
      - v2.43.0

    quay.io/prometheus/node-exporter:
      - v1.5.0

    quay.io/prometheus/alertmanager:
      - v0.25.0

    # Required by argo workflows
    docker.io/portainer/kubectl-shell:
      - latest-v1.21.1-amd64

    # Required by argo workflows
    docker.io/alpine/git:
      - 2.32.0

    # cray-sysmgmt-health required for platform
    docker.io/ghostunnel/ghostunnel:
      - v1.6.0

    # XXX Is this missing from cray-istio chart?
    docker.io/istio/kubectl:
      - 1.5.4

    # This image is used in an init container specified in the loftsman manifest
    # for the csm-config import job.
    docker.io/library/alpine:
      - 3

    # Openjdk is used during install procedures to generate keystores
    docker.io/library/openjdk:
      - 11-jre-slim

    # XXX Is this missing from cray-sysmgmt-health?
    docker.io/prom/pushgateway:
      - v0.8.0

    # Weave images required by platform
    docker.io/weaveworks/weave-kube:
      - 2.8.0
      - 2.8.1
    docker.io/weaveworks/weave-npc:
      - 2.8.0
      - 2.8.1

    # Zeromq used by sealed secrets tooling to facilitate installs/upgrades
    docker.io/zeromq/zeromq:
      - v4.0.5

    # XXX Missing from a SPIRE chart?
    gcr.io/spiffe-io/oidc-discovery-provider:
      - 0.12.2

    # Multus required by platform
    ghcr.io/k8snetworkplumbingwg/multus-cni:
      - v3.9.1
      - v3.9.3

    # Note this is the new layout for k8s 1.22 for coredns upstream the above
    # will go away for k8s 1.23+
    k8s.gcr.io/coredns/coredns:
      - v1.8.4
    registry.k8s.io/coredns/coredns:
      - v1.8.6

    # Kube images required by platform
    k8s.gcr.io/kube-apiserver:
      - v1.22.13
    registry.k8s.io/kube-apiserver:
      - v1.24.17
    k8s.gcr.io/kube-controller-manager:
      - v1.22.13
    registry.k8s.io/kube-controller-manager:
      - v1.24.17
    k8s.gcr.io/kube-proxy:
      - v1.22.13
    registry.k8s.io/kube-proxy:
      - v1.24.17
    k8s.gcr.io/kube-scheduler:
      - v1.22.13
    registry.k8s.io/kube-scheduler:
      - v1.24.17
    k8s.gcr.io/pause:
      - 3.5
    registry.k8s.io/pause:
      - 3.7
    quay.io/galexrt/node-exporter-smartmon:
      - v0.1.1

    # product-deletion-utility
    product-deletion-utility:
      - 1.0.0

    # Argo images
    quay.io/argoproj/argoexec:
      - v3.3.6

    # Cilium images required by platform
    quay.io/cilium/cilium:
      - v1.14.1
    quay.io/cilium/operator-generic:
      - v1.14.1

    # Cilium Hubble images
    quay.io/cilium/hubble-relay:
      - v1.14.1
    quay.io/cilium/hubble-ui:
      - v0.12.0
    quay.io/cilium/hubble-ui-backend:
      - v0.12.0

    # Cilium Tetragon images
    quay.io/cilium/tetragon:
      - v0.11.0
    quay.io/cilium/tetragon-operator:
      - v0.11.0

    # Cilium images needed for connectivity testing
    quay.io/cilium/alpine-curl:
      - v1.6.0
    quay.io/cilium/json-mock:
      - v1.3.8
    docker.io/coredns/coredns:
      - 1.10.0

    # Images needed by IUF and possibly non-CSM products
    cray-nexus-setup:
      - 0.11.1

    # not needed for build/install as it comes packaged as skopeo.tar
    quay.io/skopeo/stable:
      - v1
